body {
  background-color: black;
}

.team-area {
  flex-wrap: wrap;
}
.title {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}
.team-heading {
  background-color: black;
  color: white;
}

.card {
  margin: 5px;
  background-color: darkgray;
}
